{% extends "layout.html" %}

{% block title %}
    Leaderboard
{% endblock %}

{% block main %}


<div class="container d-flex justify-content-center align-items-center leaderboard">
  <table class="leaderboard-table">
    <thead>
      <tr class="leaderboard-header">
        <th colspan="3" class="text-center">Leaderboard (Top 5)</th>
      </tr>
      <tr class="leaderboard-header-row">
        <th class="text-center">Rank</th>
        <th class="text-center">Username</th>
        <th class="text-center">Points earned</th>
      </tr>
    </thead>
    <tbody>
      {% for user in user %}
        {% if user[1] != 0 %}  <!-- Exclude user if points earned are 0 -->
          <tr class="leaderboard-row">
            <td class="text-center">{{ loop.index }}</td>
            <td class="text-center">{{ user[0] }}</td>
            <td class="text-center">{{ user[1] }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>




{% endblock %}