{% extends "layout.html" %}

{% block main %}

<div class="d-flex flex-column align-items-center min-vh-100">
  <form action="/login" method="post" class="login-form w-100" style="max-width: 400px;">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        <input class="form-control" name="password" placeholder="Password" type="password">
    <button class="btn btn-primary w-100" type="submit">Log In</button>
  </form>
</div>

{% endblock %}